<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<!-- 数据库操作类 -->
	<bean id="ReportDataBase"
		class="com.yozo.report.server.service.manager.dataCenter.database.DataBase">
		<property name="baseDao" ref="ReportBaseHibernateDAO" />
	</bean>
	<bean id="ReportDataRuleDB"
		class="com.yozo.report.server.service.manager.dataCenter.database.DataRuleDB">
		<property name="dao" ref="ReportDataRuleDAO" />
		<property name="sqlDB" ref="ReportSQLDB" />
	</bean>
	<bean id="ReportDataTypeDB"
		class="com.yozo.report.server.service.manager.dataCenter.database.DataTypeDB">
		<property name="dao" ref="ReportDataTypeDAO" />
	</bean>
	<bean id="ReportPermissionDB"
		class="com.yozo.report.server.service.manager.dataCenter.database.PermissionDB">
		<property name="dao" ref="ReportPermissionDAO" />
	</bean>
	<bean id="ReportRecordDB"
		class="com.yozo.report.server.service.manager.dataCenter.database.RecordDB">
		<property name="dao" ref="ReportRecordDAO" />
	</bean>
	<bean id="ReportTableDB"
		class="com.yozo.report.server.service.manager.dataCenter.database.TableDB">
		<property name="dao" ref="ReportTableDAO" />
		<property name="sqlDB" ref="ReportSQLDB" />
	</bean>
	<bean id="ReportTableRuleDB"
		class="com.yozo.report.server.service.manager.dataCenter.database.TableRuleDB">
		<property name="dao" ref="ReportTableRuleDAO" />
		<property name="sqlDB" ref="ReportSQLDB" />
	</bean>
	<bean id="ReportTemplateDB"
		class="com.yozo.report.server.service.manager.dataCenter.database.TemplateDB">
		<property name="dao" ref="ReportTemplateDAO" />
		<property name="tableDB" ref="ReportTableDB" />
		<property name="permissionDB" ref="ReportPermissionDB" />
		<property name="tableRuleDB" ref="ReportTableRuleDB" />
	</bean>

	<!-- 管理器 -->
	<bean id="ReportBaseManager" class="com.yozo.report.server.service.manager.BaseManager">
		<property name="basedb" ref="ReportDataBase" />
	</bean>
	<bean id="ReportDataRuleManager" class="com.yozo.report.server.service.manager.DataRuleManager">
		<property name="db" ref="ReportDataRuleDB" />
		<property name="userM" ref="ReportUserManager" />
	</bean>
	<bean id="ReportDataTypeManager" class="com.yozo.report.server.service.manager.DataTypeManager">
		<property name="db" ref="ReportDataTypeDB" />
		<property name="userM" ref="ReportUserManager" />
	</bean>
	<bean id="ReportPermissionManager"
		class="com.yozo.report.server.service.manager.PermissionManager">
		<property name="db" ref="ReportPermissionDB" />
		<property name="userM" ref="ReportUserManager" />
	</bean>
	<bean id="ReportRecordManager" class="com.yozo.report.server.service.manager.RecordManager">
		<property name="db" ref="ReportRecordDB" />
		<property name="sqlDB" ref="ReportSQLDB" />
		<property name="templateM" ref="ReportTemplateManager" />
		<property name="tableM" ref="ReportTableManager" />
		<property name="permissionM" ref="ReportPermissionManager" />
		<property name="tableRuleM" ref="ReportTableRuleManager" />
	</bean>
	<bean id="ReportTableManager" class="com.yozo.report.server.service.manager.TableManager">
		<property name="db" ref="ReportTableDB" />
		<property name="templateM" ref="ReportTemplateManager" />
		<property name="permissionM" ref="ReportPermissionManager" />
	</bean>
	<bean id="ReportTableRuleManager" class="com.yozo.report.server.service.manager.TableRuleManager">
		<property name="db" ref="ReportTableRuleDB" />
		<property name="tableM" ref="ReportTableManager" />
		<property name="recordM" ref="ReportRecordManager" />
		<property name="dataRuleM" ref="ReportDataRuleManager" />
	</bean>
	<bean id="ReportTemplateManager" class="com.yozo.report.server.service.manager.TemplateManager">
		<property name="db" ref="ReportTemplateDB" />
		<property name="lib" ref="ReportTemplateLib" />
		<property name="userM" ref="ReportUserManager" />
		<property name="tableM" ref="ReportTableManager" />
		<property name="tableRuleM" ref="ReportTableRuleManager" />
		<property name="permissionM" ref="ReportPermissionManager" />
	</bean>

	<!-- 总体管理器 -->
	<bean id="ReportEntityManager" class="com.yozo.report.server.service.ReportEntityManager"
		autowire="byType" />
	<bean id="ReportManager" class="com.yozo.report.server.service.ReportManager"
		autowire="byType" />

	<!-- 初始化数据管理器 -->
	<bean id="ReportInitDataManager" class="com.yozo.report.server.servlet.config.InitDataManager">
		<property name="db" ref="ReportDataBase" />
		<property name="lib" ref="ReportTemplateLib" />
	</bean>

	<!-- 用户数据库管理器 -->
	<bean id="ReportUserDBManager"
		class="com.yozo.report.server.service.manager.dataCenter.database.connection.UserDBManager">
		<property name="dbFilePath" value="${dbFilePath}" />
		<property name="db" ref="ReportDataBase" />
		<property name="sqlDB" ref="ReportSQLDB" />
	</bean>
</beans>