<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

			<bean id="repository" class="apps.moreoffice.ext.jcr.YozoRepositoryFactoryBean">
				<!-- normal factory beans params -->
				<property name="configuration" value="/WEB-INF/classes/conf/${repository.database.type}/repository${repository.database.xml}.xml"/>
				<property name="variables">
					<props>
						<prop key="driver">${jdbc-0.proxool.driver-class}</prop>
						<prop key="url">${jdbc-0.proxool.driver-url}</prop>
						<prop key="user">${jdbc-0.user}</prop>
						<prop key="password">${jdbc-0.password}</prop>
						<prop key="schema">${repository.database.type}</prop>
						<prop key="datastore">${repository.datastore.location}</prop>
						<prop key="janitorEnabled">${repository.janitor.enabled}</prop>
					</props>
				</property>
				<property name="homeDir" value="${repository.location}"/>
				<property name="standalone" value="${repository.standalone.enable}"/>
				<property name="standaloneURL" value="${repository.standalone.url}"/>
				<property name="datastore" value="${repository.datastore.enable}"/>
			</bean>
			
			<!--  
			<bean id="jcrHome" class="org.springframework.core.io.FileSystemResource">
				<constructor-arg index="0" value="C:/weboffice/eioweboffice/repositories/public"/>
			</bean>
			-->
			
			<bean id="jcrSessionFactory" class="apps.moreoffice.ext.jcr.YozoJackrabbitSessionFactory">
				<property name="repository" ref="repository"/>
				<property name="credentials">
					<bean class="javax.jcr.SimpleCredentials">
					<constructor-arg index="0" value="admin"/>
					<!-- create the credentials using a bean factory -->
					<constructor-arg index="1">
						<bean factory-bean="password" factory-method="toCharArray"/>
					</constructor-arg>
					</bean>
				</property>
				<property name="nodeDefinitions">
					<list>
						<value>/WEB-INF/classes/conf/context/CustomNodes.cnd</value>
					</list>
				</property>
				<property name="contentType" value="text/x-jcr-cnd"></property>
			</bean>
			
			<!-- create the password to return it as a char[] -->
			<bean id="password" class="java.lang.String">
				<constructor-arg index="0" value=""/>
			</bean>
			
			
			<bean id="jcrTemplate" class="org.springmodules.jcr.JcrTemplate">
			    <property name="sessionFactory" ref="jcrSessionFactory"/>
			    <property name="allowCreate" value="true"/>
			</bean>
			
			<bean id="jcrTransactionManager"  class="org.springmodules.jcr.jackrabbit.LocalTransactionManager">
   				<property name="sessionFactory" ref="jcrSessionFactory"/>
			</bean>
			
			<!-- transaction proxy for Jcr services/facades 
			<bean id="txProxyTemplate" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
				<property name="proxyTargetClass" value="true" />
				<property name="transactionManager" ref="jcrTransactionManager" />
				<property name="transactionAttributes">
					<props>
						<prop key="get*">PROPAGATION_REQUIRED, readOnly</prop>
						<prop key="*">
							PROPAGATION_REQUIRED
						</prop>
					</props>
				</property>
			</bean>	-->
			

</beans>

