<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	<bean id="structureDAO" class="apps.transmanager.weboffice.service.dao.StructureDAO" autowire="byName">
	</bean>	
	<bean id="personshareinfoDAO" class="apps.transmanager.weboffice.service.dao.PersonshareinfoDAO" autowire="byName">
	</bean>
	<bean id="newPersonshareinfoDAO" class="apps.transmanager.weboffice.service.dao.NewPersonshareinfoDAO" autowire="byName">
	</bean>
	<bean id="groupshareinfoDAO" class="apps.transmanager.weboffice.service.dao.GroupshareinfoDAO" autowire="byName">
	</bean>
	<bean id="filetaginfoDAO" class="apps.transmanager.weboffice.service.dao.FiletaginfoDAO" autowire="byName">
	</bean>
	<bean id="TaginfoDAO" class="apps.transmanager.weboffice.service.dao.TaginfoDAO" autowire="byName">
	</bean>
	<bean id="userinfoViewDAO" class="apps.transmanager.weboffice.service.dao.UserinfoViewDAO" autowire="byName">
	</bean>
	<bean id="groupmemberinfoViewDAO" class="apps.transmanager.weboffice.service.dao.GroupmemberinfoViewDAO" autowire="byName">
	</bean>
	<bean id="adminUserinfoViewDAO"	class="apps.transmanager.weboffice.service.dao.AdminUserinfoViewDAO" autowire="byName">
	</bean>
	<bean id="groupmembershareviewDAO" class="apps.transmanager.weboffice.service.dao.GroupmembershareviewDAO" autowire="byName">
	</bean>
		<bean id="groupmembershareinfoDAO" class="apps.transmanager.weboffice.service.dao.GroupmembershareinfoDAO" autowire="byName">
	</bean>
	<bean id="scheduletaskDAO" class="apps.transmanager.weboffice.service.dao.ScheduletaskDAO" autowire="byName">
	</bean>	
	<bean id="systemLogsDAO" class="apps.transmanager.weboffice.service.dao.SystemLogsDAO" autowire="byName">
	</bean>
	
	<bean id="userWorkadayDao" class="apps.transmanager.weboffice.service.dao.UserWorkadayDAO"   autowire="byName">
	</bean>
	
	<bean id="calendarEventDAO" class="apps.transmanager.weboffice.service.dao.CalendarEventDAO"   autowire="byName">
	</bean>
	
	<bean id="calendarRelationDAO" class="apps.transmanager.weboffice.service.dao.CalendarRelationDAO"   autowire="byName">
	</bean>
	<bean id="calendarInviteerDAO" class="apps.transmanager.weboffice.service.dao.CalendarInviteerDAO"   autowire="byName">
	</bean>
	<bean id="calendarFocusDAO" class="apps.transmanager.weboffice.service.dao.CalendarFocusDAO"   autowire="byName">
	</bean>
	<bean id="calendarEmpowerDAO" class="apps.transmanager.weboffice.service.dao.CalendarEmpowerDAO"   autowire="byName">
	</bean>
	<bean id="calendarPublicerDAO" class="apps.transmanager.weboffice.service.dao.CalendarPublicerDAO"   autowire="byName">
	</bean>
		
	<bean id="permissionDAO"  class="apps.transmanager.weboffice.service.dao.PermissionDAO"  autowire="byName">
	</bean>
	<bean id="normalDAO"  class="apps.transmanager.weboffice.service.dao.NormalDAO"  autowire="byName">
	</bean>
	<bean id="sysReportDAO"  class="apps.transmanager.weboffice.service.dao.SysReportDAO"  autowire="byName">
	</bean>
	<bean id="approvalDAO"  class="apps.transmanager.weboffice.service.dao.ApprovalDAO"  autowire="byName">
	</bean>		
	<bean id="messagesDAO"  class="apps.transmanager.weboffice.service.dao.MessagesDAO"  autowire="byName">
	</bean>
	<bean id="flowDAO"  class="apps.transmanager.weboffice.service.dao.FlowDAO"  autowire="byName">
	</bean>
	<bean id="appsDAO"  class="apps.transmanager.weboffice.service.dao.AppsDAO"  autowire="byName">
	</bean>
	<bean id="sendCollectDAO"  class="apps.transmanager.weboffice.service.dao.SendCollectDAO"  autowire="byName">
	</bean>
	<!-- 审阅 -->
	<bean id="reviewDAO" class="apps.transmanager.weboffice.service.dao.ReviewinfoDAO" autowire="byName">
	</bean>
	<!-- 短信 -->
	<bean id="messageInfoDAO" class="apps.transmanager.weboffice.service.dao.MessageInfoDAO" autowire="byName"></bean>
	<!-- 元数据 -->
	<bean id="metadatainfoDAO" class="apps.transmanager.weboffice.service.dao.MetadataInfoDAO" autowire="byName"></bean>
	
	<!-- 新闻订阅 -->
	<bean id="webInfoDAO"  class="apps.transmanager.weboffice.dao.impl.WebInfoDAO"  autowire="byName">
	<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="newsInfoDAO"  class="apps.transmanager.weboffice.dao.impl.NewsInfoDAO"  autowire="byName">
	<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="userCustomeNewsDAO"  class="apps.transmanager.weboffice.dao.impl.UserCustomeNewsDAO"  autowire="byName">
	<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	
	<!-- add user733 -->
	<bean id="receptionDAO" class="apps.transmanager.weboffice.service.dao.reception.ReceptionDAO">	
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
		<bean id="bugInfosDAO" class="apps.transmanager.weboffice.service.dao.bugs.BugInfosDAO">
	    <property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="receptionhistoryDAO"
		class="apps.transmanager.weboffice.service.dao.reception.ReceptionhistoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="receptionmanlistDAO"
		class="apps.transmanager.weboffice.service.dao.reception.ReceptionmanlistDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="receptionImgDAO"
		class="apps.transmanager.weboffice.service.dao.reception.ReceptionImgDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- add user733 end -->
	<!-- add user753 -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="baseDAO" class="apps.transmanager.weboffice.dao.impl.BaseDAOImpl" abstract="true">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="addressListDAO"  class="apps.transmanager.weboffice.dao.impl.AddressListDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="addressSortDAO" class="apps.transmanager.weboffice.dao.impl.AddressSortDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="sortListDAO" class="apps.transmanager.weboffice.dao.impl.SortListDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="userDAO" class="apps.transmanager.weboffice.dao.impl.UserDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="onlineDAO" class="apps.transmanager.weboffice.dao.impl.OnlineDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="cutomGroupDAO" class="apps.transmanager.weboffice.dao.impl.CustomGroupDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="ctmGroupMemberDAO" class="apps.transmanager.weboffice.dao.impl.CtmGroupMemberDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="departmentDAO" class="apps.transmanager.weboffice.dao.impl.DepartmentDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="depMemberDAO" class="apps.transmanager.weboffice.dao.impl.DepMemberDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="discuGroupDAO" class="apps.transmanager.weboffice.dao.impl.DiscuGroupDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="discuGMDAO" class="apps.transmanager.weboffice.dao.impl.DiscuGroupMemberDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="sessionMegDAO" class="apps.transmanager.weboffice.dao.impl.SessionMegDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="groupSessionMegDAO" class="apps.transmanager.weboffice.dao.impl.GroupSessiongMegDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="groupSessionMegReadDAO" class="apps.transmanager.weboffice.dao.impl.GroupSessionMegReadDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="pMicroblogMegDAO" class="apps.transmanager.weboffice.dao.impl.PMicroblogMegDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="blogcontentDAO" class="apps.transmanager.weboffice.dao.impl.BlogContentDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="priletterDAO" class="apps.transmanager.weboffice.dao.impl.PriLetterDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="favorBlogDAO" class="apps.transmanager.weboffice.dao.impl.FavorBlogDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="friendShipDAO" class="apps.transmanager.weboffice.dao.impl.FriendShipDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="microGroupDAO" class="apps.transmanager.weboffice.dao.impl.MicroGroupDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<!-- 暂时不用（微博授权） -->
	<!--
	<bean id="BlogAccessDAO" class="apps.transmanager.weboffice.dao.impl.BlogAccessDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	-->
	<bean id="groupShipDAO" class="apps.transmanager.weboffice.dao.impl.GroupShipDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
<!-- 
	<bean id="authorityDAO" class="com.yozo.meeting.dao.impl.AuthorityDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="authorityRoleRelationDAO" class="com.yozo.meeting.dao.impl.AuthorityRoleRelationDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="meetingDAO" class="com.yozo.meeting.dao.impl.MeetingDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="meetingRoomDAO" class="com.yozo.meeting.dao.impl.MeetingRoomDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	
	<bean id="roleDAO" class="com.yozo.meeting.dao.impl.RoleDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="userMeetingRelationDAO" class="com.yozo.meeting.dao.impl.UserMeetingRelationDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	 -->
	<bean id="mobilemessageDAO" class="apps.transmanager.weboffice.dao.impl.MobilemessageDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<!-- add user753 end -->
	<!-- add user774 -->
	<bean id="usersGroupsDAO" class="apps.transmanager.weboffice.dao.impl.UsersGroupsDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<!-- add user774 end -->
<!-- 
	<bean id="newsDao" class="templates.dao.NewsDaoImpl">
		<constructor-arg value="templates.objectdb.News"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="newsTypeDao" class="templates.dao.NewsTypesDaoImpl">
		<constructor-arg value="templates.objectdb.NewsType"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="questionnaireDao" class="templates.dao.QuestionnaireDaoImpl">
		<constructor-arg value="templates.objectdb.Questionnaire"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="newsAttachedDao" class="templates.dao.NewsAttachedDaoImpl">
		<constructor-arg value="templates.objectdb.NewsAttached"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="templateDao" class="templates.dao.TemplateDaoImpl">
		<constructor-arg value="templates.objectdb.Template"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="templateTypeDao" class="templates.dao.TemplateTypeDaoImpl">
		<constructor-arg value="templates.objectdb.TemplateType"></constructor-arg>
		<property name="sessionFactory"  ref="sessionFactory"></property>
	</bean>
	<bean id="collectionDao" class="templates.dao.CollectionDaoImpl">
		<constructor-arg value="templates.objectdb.Collection"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	 -->
	<!-- 即时工具验证信息 -->
	<bean id="validateSessionMegDAO" class="apps.transmanager.weboffice.dao.impl.ValidateSessiongMegDAO">
		<property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	
	<bean id="discuGroupMemberPoRelationDao" class="apps.transmanager.weboffice.dao.impl.DiscuGroupMemberPoRelationDao">
	    <property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	
	<bean id="templateItemDAO" class="apps.transmanager.weboffice.dao.impl.TemplateItemDAO">
	    <property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	
	<bean id="templateDAO" class="apps.transmanager.weboffice.dao.impl.TemplateDAO">
	    <property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<!-- 
	<bean id="bugDAO" class="apps.transmanager.weboffice.dao.impl.BugDAO">
	    <property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="bugHisDAO" class="apps.transmanager.weboffice.dao.impl.BugHisDAO">
	    <property name="hibTemplate" ref="hibernateTemplate"></property>
	</bean>
 -->
</beans>
