<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean id="rssTimer" class="templates.action.TimerTaskrAction">
	</bean>
	<bean id="rssTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
	 <property name="delay" value="1000" />
	 <property name="period" value="18000000" />
	 <property name="timerTask" ref="rssTimer" />
	</bean>
    <bean id="timerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">
     <property name="scheduledTimerTasks">
      <list>
       <ref bean="rssTask"/>
      </list>
     </property>
    </bean>
   		
	
</beans>
