<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	<bean id="fileUtilDwr" class="apps.transmanager.weboffice.dwr.FileUtilDwr">
		<property name="jcrService" ref="jcrService"></property>
		<property name="fileSystemService" ref="fileSystemService"></property>
		<property name="messagesService" ref="messagesService"></property>
	</bean>
	<bean id="addressListDwr" class="apps.transmanager.weboffice.dwr.AddressListDwr">
		<property name="addressListService" ref="addressListService"></property>
		<property name="userService" ref="user2Service"></property>
		<property name="permissionService" ref="permissionService"></property>
	</bean>
	<bean id="smsDwr" class="apps.transmanager.weboffice.dwr.SmsDwr">
		<property name="addressListService" ref="addressListService"></property>
		<property name="userService" ref="user2Service"></property>
		<property name="permissionService" ref="permissionService"></property>
	</bean>
	<bean id="userDwr" class="apps.transmanager.weboffice.dwr.UserDwr">
		<property name="userService" ref="user2Service"></property>
	</bean>
	<bean id="talkDwr" class="apps.transmanager.weboffice.dwr.TalkDwr">
		<property name="talkService" ref="talkService"></property>
	</bean>
	<bean id="projectMicroblogDwr" class="apps.transmanager.weboffice.dwr.ProjectMicroblogDwr">
		<property name="pmicroblogService" ref="PMicroblogService"></property>
		<property name="fileSystemService" ref="fileSystemService"></property>
	</bean>
	<bean id="blogcontentDwr" class="apps.transmanager.weboffice.dwr.BlogContentDwr">
     <property name="blogContentService" ref="BlogContentService"></property>
	</bean>
    <bean id="approvalDwr" class="apps.transmanager.weboffice.dwr.ApprovalDwr">

	</bean>
<!-- 
	<bean id="meetingRoomDwr" class="com.yozo.meeting.dwr.MeetingRoomDwr">
		<property name="meetingRoomService" ref="meetingRoomService"></property>
		<property name="addressListService" ref="addressListService"></property>
	</bean>
	<bean id="meetingDwr" class="com.yozo.meeting.dwr.MeetingDwr">
		<property name="meetingService" ref="meetingService"></property>
	</bean>
	 -->
	<bean id="mobilemessageService" class="apps.transmanager.weboffice.service.impl.MobilemessageService">
		<property name="mobilemessageDAO" ref="mobilemessageDAO"></property>
	</bean>
	<bean id="mobilemessageDwr" class="apps.transmanager.weboffice.dwr.MobilemessageDwr">
		<property name="mobilemessageService" ref="mobilemessageService"></property>
	</bean>
	<!-- 
	<bean id="newsService" class="templates.service.NewsServiceImpl">
		<property name="newsDao" ref="newsDao"></property>
		<property name="newsTypeDao" ref="newsTypeDao"></property>
	</bean>
	<bean id="initService" class="templates.service.InitServiceIml">
		<property name="newsTypeDao" ref="newsTypeDao"></property>
	</bean>

	<bean id="questionnaireService" class="templates.service.QuestionnaireServiceImpl">
		<property name="questionnaireDao" ref="questionnaireDao"></property>
	</bean>

	<bean id="newsAttachedService" class="templates.service.NewsAttachedServiceImpl">
		<property name="newsAttachedDao" ref="newsAttachedDao"></property>
	</bean>

	<bean id="templateService" class="templates.service.TemplateServiceImpl">
		<property name="templateDao" ref="templateDao"></property>
		<property name="templateTypeDao" ref="templateTypeDao"></property>
	</bean>

	<bean id="collectionService" class="templates.service.CollectionServiceImpl">
		<property name="collectionDao" ref="collectionDao"></property>
	</bean>
	 -->
	<bean id="fileTemplateDwr" class="apps.transmanager.weboffice.dwr.FileTemplateDwr">
	
	</bean>
</beans>
