<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>report</display-name>

	<!-- bean配置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/com/yozo/report/server/config/applicationContext-report.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 部署报表的servlet -->
        <!-- 报表应用启动和停止监听器 -->
	<listener>
		<listener-class>com.yozo.report.server.servlet.listener.ReportServletContextListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>ReportEntityService</servlet-name>
		<servlet-class>com.yozo.report.server.servlet.entity.ReportEntityServlet
		</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportEntityService</servlet-name>
		<url-pattern>/static/ReportEntityService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReportService</servlet-name>
		<servlet-class>com.yozo.report.server.servlet.entity.ReportServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportService</servlet-name>
		<url-pattern>/static/ReportService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReportFileService</servlet-name>
		<servlet-class>com.yozo.report.server.servlet.file.ReportFileServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportFileService</servlet-name>
		<url-pattern>/static/ReportFileService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReportJsonService</servlet-name>
		<servlet-class>com.yozo.report.server.servlet.json.ReportJsonServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportJsonService</servlet-name>
		<url-pattern>/static/ReportJsonService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReportRemote</servlet-name>
		<servlet-class>com.yozo.report.server.servlet.gwt.ReportRemoteImpl</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportRemote</servlet-name>
		<url-pattern>/static/ReportRemote</url-pattern>
	</servlet-mapping>
</web-app>
